

:root{
    --black-primary: rgb(0, 0, 0);
    --purple-dark: rgb(68, 4, 84);
    --purple-ligth: rgb(120, 6, 148);
    --white: rgb(255, 255, 255);
    --main-color: rgb(24, 0, 96);
    --blur: rgba(4, 9, 30, 0.801);
    --blur2: rgba(4, 9, 30, 0.226);
    --graylight:rgba(133, 142, 176, 0.884);
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base styles*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
}

body:after{
    width: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}

.main{
    width: 1400px;
    margin: 0 auto;
}

/*Navegation bar*/
.header{    
    background-color: var(--purple-ligth);
    padding:12px 0;
    position: relative;
}
.header-container{
    max-width: 1400px;
    height: 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}
.header .navegation, .header .navtitle{
    padding: 20 15px;
}
.navtitle h1 {
    color: var(--white);
    font-size: 30px;
    text-transform: capitalize;
}
.navegation ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
}
.navegation ul li a{
    display: block;
    list-style: none;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    padding: 10px 0; /*Gap from top-bottom and left-right*/
    transition: all 0.5s ease;
}
.navegation ul li a:hover,
.navegation ul li a.active{
    color: var(--graylight);
}

/*MAIN BODY STARTS HERE*/

/*First banner*/
.section-slider {
    display: flex;
    width: 100%;
    height: 800px;
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.container-slider {
    display: flex;
    width: 100%;
    min-width: 100vh;
    height: 100%;
    
    align-items: center;
   
    justify-content: center;
    gap: 1rem;
}

.container-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    border-radius: 50px;
}

.slider-img {
    position: absolute;
    width: 100%;
}

#left-button, #right-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#left-button img, #right-button img {
    width: 100%;
    height: 100%;
}

.messenger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger .text {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    margin-top: -220px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 1.5px 1.5px;
    color: purple;
    text-decoration: none;
    margin: 0 10px;
    background-color: rgba(133, 142, 176, 0.884);
    border-radius: 50px;
    font-size: 20px;
    color:rgb(0, 0, 0);
    width: 150px;
    cursor: pointer;
    transition: background-color 0,3s;
    margin-top: -100px;
}

.button1:hover{
    background-color: rgba(81, 109, 211, 0.912);
}


/*CATEGORIES*/

.category{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}
.category p{
    text-align: center;
    color: var(--white);
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    flex-basis: 100%;
}
.category-box{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    border-radius: 10px;
}
.category-box:nth-child(2){
    background-image: linear-gradient(var(--blur2),var(--blur2)), url(./images/web-development-4202909_1280.png);
}
.category-box:nth-child(3){
    background-image: linear-gradient(var(--blur2),var(--blur2)), url(./images/pexels-yan-krukau-7693229.jpg);
}
.category-box:nth-child(4){
    background-image: linear-gradient(var(--blur2),var(--blur2)), url(./images/editorial-4897078_1280.jpg);
}
.category-box:nth-child(5){
    background-image:linear-gradient(var(--blur2),var(--blur2)), url(./images/theme-photos-CGpifH3FjOA-unsplash.jpg);
}
.category-box:nth-child(6){
    background-image: linear-gradient(var(--blur2),var(--blur2)), url(./images/artiom-vallat-s71GAZsTs-g-unsplash.jpg);
}
.category-box h2{
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 3px 2px var(--black-primary); /*muda em linha -- muda a distancia para a palavra -- muda a opacidade*/
}
.category-box h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 3px 0px var(--purple-ligth); /*muda em linha -- muda a distancia para a palavra -- muda a opacidade*/
}

/*About us Section*/

.About-section{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--blur),var(--blur)), url("./images/tyler-clemmensen-DQ_KYf1LF6E-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 60px);
    column-gap: 60px;
    flex-wrap: wrap;
}
.about-img img{
    width: 700px;
    height: 700px;
    border-radius: 10px;
}
.about-text{
    display: block;
    width: 500px;
    color: var(--white);
    text-align: justify;
    text-justify: auto;
    font-size: 30px;
    font-weight: 200;
    line-height: 35px;
}


.about-title{
    font-size: 80px;
    text-align: center;
    color: var(--white);
    font-family: Georgia, 'Times New Roman', Times, serif;

    flex-basis: 100%;
}

.hiw-section1{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.hiw-section2{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.howitwork-block{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple-dark);
    padding-top: 50px;
    border-radius: 10px;
    transition: 0.3s;
}

.howitwork-block:hover {
    background-color: rgb(104, 4, 104);
    margin-top: -14px;
}
.howitwork-block img{
    width: 150px;
}
.howitwork-block h2{
    font-family: Georgia, 'Times New Roman', Times, serif;

    padding: 10px 10px;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 2px 3px var(--white); /*muda em linha -- muda a distancia para a palavra -- muda a opacidade*/
    margin-bottom: -10px;
}
.howitwork-block p{
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
}

/*FOOTER*/
.container{
    max-width: 1180px;
    margin: auto;
}
.coluna{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: var(--black-primary);
    padding: 70px 0;
}
.coluna-interna{
    width: 25%;
    padding: 0 15px;
}
.coluna-interna ul{
    list-style: none;
}
.coluna-interna ul li a{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-weight: 300;
    text-decoration: none;
    color: var(--white);
    display: block;
}
.coluna-interna ul li a:hover{
    color: var(--white);
    padding-left: 8px;
}
.coluna-interna h4{
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-weight: 400;
    font-size: 18px;
    position: relative;
    color: var(--white);
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.coluna-interna h4::before{ /*Purple line below the title*/
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--purple-ligth);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.coluna-interna .social-links a{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: var(--white);
    margin: 0 10px 10px 0;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.coluna-interna .social-links a:hover{
    background-color: var(--graylight);
}
.fab-fa-instagram img{
    width: 40px;
    padding-top: 10px;
    align-self: center;
}
.fab-fa-linkedin-in img{
    padding-top: 10px;
    width: 40px;
}
.fab-fa-twitter img{
    padding-top: 10px;
    width: 40px;
}

.fab-fa-whatsapp img{
    padding-top: 10px;
    width: 40px;
}

@media(max-width: 767px){
    .coluna-interna{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .main{
        width: 80%;
    }
}

/*Responsive media - Nao consegui*/
@media only screen and (max-height: 700px){
    /*Navegation bar*/
    .header-container{
        width: 50%;
        text-align: center;
    }

    /*main*/
    .main{
        width: 80%;
    }
    /* Doesn't work
    .intro .intro-title h1{
        font-size: 3rem;
        line-height: 1.2;
        text-align: center;
    }
    .intro-subtitle{
        font-size: 3rem;
        line-height: 1.2;
        text-align: center;
    }
    .intro{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
        font-size: 1.6rem;
        line-height: 1.75;
    }
    .intro-description{
        flex-basis: 100%;
        display: block;
    }
    .intro-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }*/

}




